.container {
  margin-bottom: 7%;
    margin-top: 5%;
}

li {
  margin-bottom: 20px;
}

.aasp-img {
  float: right;
}

.orange-background {
  background-image: linear-gradient(to right, #FFB46F, #F76B1C);
  z-index: -2;
  padding: 20px 0px;
  color: #ffffff !important;
  padding:
}

h1, h2, .nav-item, .white {
  color: #ffffff !important;
}

h1 {
  font-size: 3.5rem
}

h2 {
  font-size: 2rem !important;
}

h3 {
  color: #df6c1b;
  margin-bottom: 30px;
}

h4 {
  color: #df6c1b;
}

p {
  color: #3d4d65;
}

.repairs img {
  margin: 40px 20px;
  width: auto;
  height: 100px;
  transition: transform .2s;
}

.repairs img:hover {
  transform: scale(1.1);
}

.appointment-button {
  color: #ffffff;
  background-color: #F76B1C;
  border-radius: 5px;
  border: none !important;
  padding: 10px 40px;
  margin-top: 100px;
  margin-bottom: 260px;
}

.appointment-button-repair {
  color: #ffffff;
  background-color: #F76B1C;
  border-radius: 5px;
  border: none !important;
  padding: 10px 40px;
  margin: 80px 0 0 0;
}

.footer {
  height: 70px;
  line-height: 70px;
  background-color: #ffffff;
  color: #df6c1b;
}

@media screen and (max-width: 450px) {
   .aasp-img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .macbookpro-img, .appleproducts-img, .befront-img, #map {
    display: none;
  }
  .appointment-button {
    margin-bottom: 0px;
  }
}

@media screen and (width: 768px) {
  .macbookpro-img {
    display: none;
  }
  .appleproducts-img {
    position: absolute;
    top: -100px;
    left: 300px;
    z-index: -1;
    height: 180px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: -300px;
    right: 0px;
    z-index: 0;
    height: 300px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 400px;
    position: absolute;
    top: -700px;
    right: 0px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .macbookpro-img {
    position: absolute;
    top: 380px;
    right: 0px;
    z-index: -1;
    height: 260px;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: 140px;
    left: -260px;
    z-index: -1;
    height: 300px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 430px;
    left: 150px;
    z-index: 0;
    height: 300px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50px;
    right: 0px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .macbookpro-img {
    position: absolute;
    top: 380px;
    right: 0px;
    z-index: -1;
    height: 260px;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: 70px;
    left: -400px;
    z-index: -1;
    height: 400px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 380px;
    left: 210px;
    z-index: 0;
    height: 360px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .macbookpro-img {
    position: absolute;
    top: 360px;
    right: 0px;
    z-index: -1;
    height: 260px;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: 80px;
    left: -400px;
    z-index: -1;
    height: 400px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 380px;
    left: 210px;
    z-index: 0;
    height: 360px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1349px) {
  .macbookpro-img {
    position: absolute;
    top: 340px;
    right: 0px;
    z-index: -1;
    height: 300px;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: 40px;
    left: -600px;
    z-index: -1;
    height: 500px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 380px;
    left: 210px;
    z-index: 0;
    height: 360px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 1350px) and (max-width: 1399px) {
  .macbookpro-img {
    position: absolute;
    top: 300px;
    right: 0px;
    z-index: -1;
    height: 300px;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: 40px;
    left: -500px;
    z-index: -1;
    height: 500px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 380px;
    left: 210px;
    z-index: 0;
    height: 360px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1549px) {
  .macbookpro-img {
    position: absolute;
    top: 260px;
    right: 0px;
    z-index: -1;
    height: 360px;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: 20px;
    left: -500px;
    z-index: -1;
    height: 500px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 380px;
    left: 210px;
    z-index: 0;
    height: 360px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 1550px) and (max-width: 1919px) {
  .macbookpro-img {
    position: absolute;
    top: 260px;
    right: 0px;
    z-index: -1;
    height: 400px;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: 40px;
    left: -400px;
    z-index: -1;
    height: 500px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 380px;
    left: 210px;
    z-index: 0;
    height: 360px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

@media screen and (width: 1920px) {
  .macbookpro-img {
    position: absolute;
    top: 180px;
    right: 0px;
    z-index: -1;
    height: 70%;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: -60px;
    left: -700px;
    z-index: -1;
    height: 700px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 400px;
    left: 230px;
    height: 360px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 1921px) {
  .macbookpro-img {
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: -1;
    height: 90%;
    width: auto;
  }
  .appleproducts-img {
    position: absolute;
    top: -80px;
    left: -400px;
    z-index: -1;
    height: 700px;
    width: auto;
  }
  .befront-img {
    position: absolute;
    top: 400px;
    left: 230px;
    height: 360px;
    width: auto;
  }
  #map {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}
